* {
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
    background-image: url("images/background65.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    height: 100%;
    overflow-x: hidden;
}

#casino-body {
    margin: 0;
    background-image: url("images/casinologo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    height: 100%;
}

.greetings {
    font-family: "Lato", sans-serif;
    font-size: 74px;
    color: whitesmoke;
}

#greetings-label {
    font-size: 60px;
    font-family: "Lato", sans-serif;
    color: whitesmoke;
}

.greetings-line {
    background-color: black;
    padding: 55px;
    width: 100%;
    box-sizing: border-box;
}


.menu {
    display: flex;
    height: 80px;
    background-color: black;
    padding: 0 20px;
    z-index: 2;
    border-bottom: 2px solid #333333;
    font-size: 28px;
}

.menu-casino {
    display: flex;
    height: 60px;
    background-color: black;
    padding: 0 20px;
    z-index: 2;
    border: 2px solid #333333;
    font-size: 22px;
    margin: 0 45%;
}

.menu-item {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 37%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    flex-direction: column;
    width: 150px;
    font-size: 18px;
}

.menu-item:hover .submenu {
    display: block;
}

.menu-item span {
    color: whitesmoke;
    margin-right: 5px;
}

.submenu a {
    color: whitesmoke;
    text-decoration: none;
    padding: 5px 0;
    display: block;
}

.content {
    margin-top: 60px;
    padding: 20px;
}

.footer {
    background-color: #000;
    color: whitesmoke;
    padding: 0;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

#home {
    cursor: pointer;
    color: whitesmoke;
    margin-right: 5px;
}

#home a {
    text-decoration: none;
    color: inherit;
}

#info {
    cursor: pointer;
    color: whitesmoke;
    margin-right: 5px;
}

#info a {
    text-decoration: none;
    color: inherit;
}

#footer-version {
    color: #333333 !important;
    text-align: right;
    margin-left: auto;
}

.footer-rights {
    margin-left: 20px;
    text-align: left;
    margin-right: auto;
}

.about-us-info {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    padding: 85px 65px 15px;

}

#about-us-main-text {
    color: whitesmoke;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    text-align: justify;
}

#about-us-label {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}

.main-page-text {
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    margin: 35px;
}

.dropdown-menu a:visited {
    color: whitesmoke;
}

.dropdown-menu a:hover {
    color: whitesmoke;
}

#main-page-title-text-block {
    text-align: center;
    font-size: 32px;
    width: 100%;
}

#carouselControl {
    margin: 30px;
    padding: 40px 160px 200px;
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 150px;
    position: relative;
}

.carousel-control-prev {
    position: fixed;
}

.carousel-text-slide {
    padding: 35px;
}

#main-page-first-text-block {
    padding-left: 20px;
    padding-right: 20px;
}

#main-page-second-text-block {
    padding-left: 10px;
    padding-right: 10px;
}

#main-page-third-text-block {
    padding-left: 12px;
    padding-right: 12px;
}

.additional-info {
    color: whitesmoke;
    font-family: "Lato", sans-serif;
    margin: 60px;
}

.additional-info-main-text {
    font-size: 60px;
    text-align: left;
    margin: 50px 100px 100px;
}

.additional-info-letters {
    margin-left: 200px;
    margin-bottom: 30px;
    font-size: 120px;
}

.division {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0 -10px 10px rgba(0, 0, 0, 0.2);
    height: 100px;
    width: 100%;
    padding: 50px;
}

.string {
    height: 90px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0 -10px 10px rgba(0, 0, 0, 0.2);
}

.string p {
    font-family: "Lato", sans-serif;
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    animation: text 10s infinite linear;
    white-space: nowrap;
}

@keyframes text {
    0% {
        transform: translate(100%, 0);
    }

    0% {
        transform: translate(-100%, 0);
    }
}

.final-label {
    margin-top: 30px;
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    font-family: "Lato", sans-serif;
}

#hidden-ref {
    color: whitesmoke;
}

#hidden-ref:visited {
    color: #7a1cd5;
}

#hidden-ref:hover {
    color: #7a1cd5;
}