* {
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: whitesmoke;
}

.greetings {
    font-family: "Lato", sans-serif;
    font-size: 34px;
    color: whitesmoke;
}

#greetings-label {
    font-size: 30px;
    font-family: "Lato", sans-serif;
    color: whitesmoke;
}

.greetings-line {
    background-color: black;
    padding: 85px;
    width: 100vw;
    box-sizing: border-box;
}


.menu {
    display: flex;
    height: 60px;
    background-color: black;
    padding: 0 20px;
    z-index: 2;
    border-bottom: 2px solid #333333;
}

.menu-item {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 37%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    flex-direction: column;
    width: 150px;
}

.menu-item:hover .submenu {
    display: block;
}

.menu-item span {
    color: white;
    margin-right: 5px;
}

.submenu a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
    display: block;
}

.content {
    margin-top: 60px;
    padding: 20px;
}